@import "./paleta-colores.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--variable-collection-background1);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
}

.as {
  padding-left: 0px;
  padding-right: 0px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}


.background-activities {
  background-image: url('/src/assets/img/backgound-cards-activities.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}
.background-planes {
  background-image: url('/src/assets/img/background-planes.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}
.name-plane{
       display: block;    
  margin: 0 auto;    
  margin-top:35px ;
    font-family: var(--h2-lato-extrabold-font-family);
    font-weight: var(--h2-lato-extrabold-font-weight);
    color: var(--variable-collection-naranjap);
    font-size: 26px;
    text-align: center;
    letter-spacing: var(--h2-lato-extrabold-letter-spacing);
    line-height: var(--h2-lato-extrabold-line-height);
    font-style: var(--h2-lato-extrabold-font-style);
}
/* .background-activities {
  position: absolute;
  inset: 0;
  height: 100%;
    min-height: 100%;
  background-image: url('/src/assets/img/nuestras-actividades-background.png');
  /* sin esto se ve mal pero no borroso */
  /* background-repeat: repeat-x;
  background-position: top left; 
  background-size: auto 629px; */
  /* background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  z-index: 0;
} */ 

/* parrafo */
.text {
  font-family: var(--p-lato-regular-font-family);
  font-weight: var(--p-lato-regular-font-weight);
  color: var(--variable-collection-textocolor);
  font-size: var(--p-lato-regular-font-size);
  text-align: center;
  letter-spacing: var(--p-lato-regular-letter-spacing);
  line-height: var(--p-lato-regular-line-height);
  font-style: var(--p-lato-regular-font-style);
}
.background {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media (min-width: 1280px) {
.background-activities {
  background-image: url('/src/assets/img/nuestras-actividades-background-stroke.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}

      .background {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    max-width: 100%;
    margin: 0 auto; 
    padding: 0px 100px 0px 100px;
    justify-content: center;
    gap: 35px 0px;
  }
  /* 🔹 Si hay un número impar de cards, la última ocupa el centro */
  .background > :last-child:nth-child(odd) {
    grid-column: 1 / span 2;  /* hace que ocupe las 2 columnas */
    justify-self: center;     /* centra la tarjeta */
    width: 540px;             /* opcional, mantiene el ancho fijo */
  }

  .background-planes {
  background-image: url('/src/assets/img/background-planes-stroke.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  height: 416px;
}


}