:root {
    --lato-extra-bold-font-family: "Lato", Helvetica;
    --lato-extra-bold-font-weight: 800;
    --lato-extra-bold-font-size: 25px;
    --lato-extra-bold-letter-spacing: 0px;
    --lato-extra-bold-line-height: normal;
    --lato-extra-bold-font-style: normal;
    --h1-lato-extrabold-font-family: "Inter", Helvetica;
    --h1-lato-extrabold-font-weight: 800;
    --h1-lato-extrabold-font-size: 20px;
    --h1-lato-extrabold-letter-spacing: 0px;
    --h1-lato-extrabold-line-height: normal;
    --h1-lato-extrabold-font-style: normal;
    --h2-lato-extrabold-font-family: "Lato", Helvetica;
    --h2-lato-extrabold-font-weight: 800;
    --h2-lato-extrabold-font-size: 28px;
    --h2-lato-extrabold-letter-spacing: 0px;
    --h2-lato-extrabold-line-height: normal;
    --h2-lato-extrabold-font-style: normal;
    --h3-lato-extrabold-font-family: "Lato", Helvetica;
    --h3-lato-extrabold-font-weight: 800;
    --h3-lato-extrabold-font-size: 16px;
    --h3-lato-extrabold-letter-spacing: 0px;
    --h3-lato-extrabold-line-height: normal;
    --h3-lato-extrabold-font-style: normal;
    --p-lato-extrabold-font-family: "Lato", Helvetica;
    --p-lato-extrabold-font-weight: 800;
    --p-lato-extrabold-font-size: 14px;
    --p-lato-extrabold-letter-spacing: 0px;
    --p-lato-extrabold-line-height: normal;
    --p-lato-extrabold-font-style: normal;
    --h1-lato-regular-font-family: "Lato", Helvetica;
    --h1-lato-regular-font-weight: 400;
    --h1-lato-regular-font-size: 20px;
    --h1-lato-regular-letter-spacing: 0px;
    --h1-lato-regular-line-height: normal;
    --h1-lato-regular-font-style: normal;
    --h2-lato-regular-font-family: "Lato", Helvetica;
    --h2-lato-regular-font-weight: 400;
    --h2-lato-regular-font-size: 18px;
    --h2-lato-regular-letter-spacing: 0px;
    --h2-lato-regular-line-height: normal;
    --h2-lato-regular-font-style: normal;
    --h3-lato-regular-font-family: "Lato", Helvetica;
    --h3-lato-regular-font-weight: 400;
    --h3-lato-regular-font-size: 16px;
    --h3-lato-regular-letter-spacing: 0px;
    --h3-lato-regular-line-height: normal;
    --h3-lato-regular-font-style: normal;
    --p-lato-regular-font-family: "Lato", Helvetica;
    --p-lato-regular-font-weight: 400;
    --p-lato-regular-font-size: 16px;
    --p-lato-regular-letter-spacing: 0px;
    --p-lato-regular-line-height: normal;
    --p-lato-regular-font-style: normal;
    --p-lato-bold-font-family: "Lato", Helvetica;
    --p-lato-bold-font-weight: 700;
    --p-lato-bold-font-size: 12px;
    --p-lato-bold-letter-spacing: 0px;
    --p-lato-bold-line-height: normal;
    --p-lato-bold-font-style: normal;
    --actividad-btn-font-family: "Lato", Helvetica;
    --actividad-btn-font-weight: 800;
    --actividad-btn-font-size: 18px;
    --actividad-btn-letter-spacing: 0px;
    --actividad-btn-line-height: normal;
    --actividad-btn-font-style: normal;
    --variable-collection-marronp: rgba(130, 74, 59, 1);
    --variable-collection-marron2: rgba(162, 91, 72, 1);
    --variable-collection-marron3: rgba(172, 98, 78, 1);
    --variable-collection-marron4: rgba(205, 117, 93, 1);
    --variable-collection-marron5: rgba(216, 131, 108, 1);
    --variable-collection-beigep: rgba(220, 183, 139, 1);
    --variable-collection-beige2: rgba(242, 210, 172, 1);
    --variable-collection-beige3: rgba(219, 194, 163, 1);
    --variable-collection-beige4: rgba(242, 220, 199, 1);
    --variable-collection-beige5: rgba(234, 218, 203, 1);
    --variable-collection-naranjap: rgba(253, 141, 9, 1);
    --variable-collection-naranja2: rgba(242, 152, 47, 1);
    --variable-collection-naranja3: rgba(255, 172, 74, 1);
    --variable-collection-naranja4: rgba(253, 176, 86, 1);
    --variable-collection-naranja5: rgba(255, 186, 104, 1);
    --variable-collection-grisp: rgba(63, 63, 63, 1);
    --variable-collection-gris2: rgba(89, 86, 86, 1);
    --variable-collection-gris3: rgba(119, 116, 116, 1);
    --variable-collection-gris4: rgba(176, 176, 176, 1);
    --variable-collection-gris5: rgba(214, 210, 210, 1);
    --variable-collection-textocolor: rgba(62, 31, 20, 1);
    --variable-collection-background1: rgba(112, 50, 34, 1);
    --variable-collection-blanco-transparencia: rgba(255, 255, 255, 0.6);
}