.activity-button {
    width: 102px;
    height: 32px;
    background-color: var(--variable-collection-textocolor);
    padding: 0px 14px;
    border-radius: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.activity-button:hover {
    transform: scale(1.1);
}
.arqueria, .trekking{
    padding: 0px 10px;
}
.btn-activity{
    text-decoration: none;
}
.btn-activity .juegos-de-orientacion{
    padding: 0px 6px;
}
    .activity-icon{
        height: 20px;
        width: 20px;
    }

@media (min-width: 1280px) {
    .btn-activity .juegos-de-orientacion{
        padding: 0px 19px;
    }
    .activity-button {
        padding: 0px 16px;

        }
    .arqueria, .footgolf{
    gap: 15px;
}
.trekking{
    gap: 12px;
}
.cocina-rustica{
    padding: 0px 6px;
}
    .activity-button {
    width: 189px;
    height: 60px;
    }

    .activity-button:hover {
        transform: scale(1.05);
    }

    .activity-icon{
        height: 45px;
        width: 45px;
    } 
}