.hero {
    position: relative;
    width: 100%;
    align-items: center;
}

.hero .tiro-arco {
    height: auto;
}
.hero .logo {
    position: absolute;
    width: 235px;
    height: 84px;
    top: 128px; /* Posiciona el borde superior del logo al 50% de la altura del viewport */
    left: 50%; /* Posiciona el borde izquierdo del logo al 50% del ancho del viewport */
    transform: translate(-50%, -50%); /* Compensa el 50% del ancho y el 50% del alto del propio logo para centrarlo perfectamente */
}

.hero .bosque {
    height: 164px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }